doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml")
  head
    meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
    meta(name="x-apple-disable-message-reformatting")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE")
    meta(name="format-detection" content="telephone=no")
    meta(name="format-detection" content="date=no")
    meta(name="format-detection" content="address=no")
    meta(name="format-detection" content="email=no")
    title Product Name | Win Advisor
    include _styles
  body(style="margin: 0 !important; padding: 0 !important; font-family: Arial, sans-serif; font-size: 12px; color: #000000; line-height: 100%; background: #ffffff;")
    //if (gte mso 9)
      center
        table(border="0" cellpadding="0" cellspacing="0" align="center")
          tr
            td(width="600" style="width: 600px;")
    span.preheader(style="color:transparent; display:none !important; height:0; opacity:0; visibility:hidden; width:0") Awesome product intro
    center
      table(border="0" bgcolor="#CCCCCC" cellpadding="0" cellspacing="0" align="center" width="100%" role="presentation" style="width: 100%; border: 0; background: #CCCCCC")
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" align="center" width="100%" bgcolor="#ffffff" role="presentation" style="max-width: 600px; width: 100%; border: 0; background: #ffffff;")
              tr
                td
                  table(border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="presentation" style="width: 100%; border: 0;")
                    tr
                      td
                        //if (gte mso 9)
                          table(border="0" cellpadding="0" cellspacing="0" align="center" width="600" style="width: 600px;")
                            tr
                              td
                        table(border="0" cellpadding="0" cellspacing="0" align="center" width="100%" bgcolor="#ffffff" role="presentation" style="max-width: 600px; width: 100%; border: 0; background: #ffffff;")
                          tr
                            td
                              a(href="#" style="cursor: default; pointer-events: none;" pointer-events="none")
                                img(src="https://i.imgur.com/fYGbkEO.jpg" alt="Win Advisor" width="600" style="width: 100%; display: block; height: auto;")
                          tr
                            td
                              table(border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation" style="width: 100%; border: 0;")
                                tr
                                  td(width="35" style="width:35px")
                                  td
                                    table(border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; border: 0;")
                                      tr
                                        td(height="26" style="height:26px")
                                      tr
                                        td(align="center" style="font-size: 16px; line-height: 24px; font-weight: normal;") Hey #{username}
                                      tr
                                        td(align="center" style="font-size: 16px; line-height: 24px; font-weight: normal;") Hope you are having a great time and winning sports bets!
                                      tr
                                        td(align="center" style="font-size: 16px; line-height: 24px; font-weight: normal;")
                                          | With that being said, I would like to tell you about our sponsor [product manufacturer name] who has created this awesome [product type] names [affiliate link [product name]] [Product characteristics and what does it gets the user]
                                      tr
                                        td(height="26" style="height:26px")
                                      tr
                                        td(align="center")
                                          span
                                            //if mso
                                              v:roundrect(xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href=`${url}` style="height:42px;v-text-anchor:middle;width:285px;" arcsize="58%" stroke="f" fillcolor="#248E38")
                                                w:anchorlock
                                                  center
                                            a(href=`${url}` style="background-color:#248E38;border-radius:24px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:16px;font-weight:bold;line-height:42px;text-align:center;text-decoration:none;width:285px;-webkit-text-size-adjust:none;" target="_blank") Go Check It Out
                                            //if mso
                                      tr
                                        td(height="26" style="height:26px")
                                      tr
                                        td(align="center" style="font-size: 16px; line-height: 24px; font-weight: normal;")
                                          | Having trouble with your link?
                                          | Copy the link below and paste it in your browser’s address bar
                                      tr
                                        td(align="center" style="font-size: 16px; line-height: 24px; font-weight: normal;")
                                          a(href=`${url}` style="color: green; font-weight: 700" target="_blank") #{url}
                                      tr
                                        td(height="26" style="height:26px")
                                      tr
                                        td(align="center" style="font-size: 10px; line-height: 14px; font-weight: normal;")
                                          sup *
                                          | Please note that for every product you buy, we get 7% which we
                                          |                                                                         use to improve the quality of Win Advisor and the services we offer
                                          |                                                                         you.
                                      tr
                                        td(height="26" style="height:26px")
                                      tr
                                        td
                                          a(href="#" style="cursor: default; pointer-events: none;" pointer-events="none")
                                            img(src="https://i.imgur.com/8kGd8YX.jpg" alt="Dots" width="530" style="width: 100%; display: block; height: auto;")
                                      tr
                                        td(height="20" style="height:20px")
                                      tr
                                        td(align="center" style="font-size: 16px; line-height: 24px; font-weight: bold;") Thank you and have fun!
                                      tr
                                        td(height="26" style="height:26px")
                                  td(width="35" style="width:35px")
                          tr
                            td(bgcolor="#333333" color="#FFFFFF" style="background: #333333; color: #FFFFFF")
                              table(border="0" align="left" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; border: 0;")
                                tr
                                  td(width="34" height="28" style="width: 34px;height: 28px;")
                                  td
                                  td(width="34" style="width: 34px")
                                tr
                                  td
                                  td
                                    a(href="#" style="cursor: default; pointer-events: none;" pointer-events="none")
                                      img(src="https://i.imgur.com/nrPSFP2.png" alt="Win Advisor" width="80" style="display: block; height: auto;")
                                  td
                                tr
                                  td(height="40" style="height: 40px;")
                                  td
                                  td
                                tr
                                  td
                                  td(align="center" style="font-size: 10px; line-height: 16px")
                                    | Copyright © 2020 Win Advisor.
                                  td
                                tr
                                  td
                                  td(align="center" style="font-size: 10px; line-height: 16px;")
                                    | Win Advisor LLC
                                  td
                                tr
                                  td
                                  td(align="center" style="font-size: 10px; line-height: 16px;") 1101 Corporate Dr
                                  td
                                tr
                                  td
                                  td(align="center" style="font-size: 10px; line-height: 16px;")
                                    span(style="text-decoration:none; cursor:default;pointer-events: none;") McHenry, IL 60050
                                    span(style="text-decoration:none; cursor:default;color:#FFFFFF; pointer-events: none;") -7006
                                  td
                                tr
                                  td(height="20" style="height: 20px;")
                                  td
                                  td
                                tr
                                  td
                                  td(align="center" style="font-size: 10px; line-height: 16px;") Add Win Advisor to your address book
                                  td
                                tr
                                  td(height="34" style="height: 34px;")
                                  td
                                  td
                        //if mso
    //if mso
